<link rel="stylesheet" href="/css/styleLibraryPage.css">

<article class="card">
    <p class="showTitle">Demon Slayer</p>
</article>
<article class="card">
    <p class="showTitle">Hunter x hunter</p>
</article>
<article class="card">
    <p class="showTitle">Spy x Family</p>
</article>
<article class="card">
    <p class="showTitle">Kuroko no Basket</p>
</article>
<article class="card">
    <p class="showTitle">The Office</p>
</article>
<article class="card">
    <p class="showTitle">Wednesday</p>
</article>
{{!-- <article class="card">
    <p class="showTitle">Jackie Chan Adventures</p>
</article> --}}