
<link rel="stylesheet" href="/css/styleNav.css">

<nav id="navbar" role="navigation">
    <ul id="main-menu">
        <li><i id="backhome" class="navbutt"></i><a href="http://localhost:3001">Home</a></li>
        <li><i id="animelib" class="navbutt"></i><a href="http://localhost:3001/infopage">Shows</a></li>
        <li><i id="mostRated" class="navbutt"></i>Most Rated</li>
        <li><i id="login" class="navbutt"></i><a href="http://localhost:3001/login">Login/Sign Up</a></li>
        <li><i id="seasontop" class="navbutt"></i><a href="http://localhost:3001/ranking">Top of This Season</a></li>
    </ul>
</nav>