
<link rel="stylesheet" href="/css/styleNav.css">

<nav id="navbar" role="navigation">
    <ul id="main-menu">
        <li><i id="home" class="navbutt"></i><a href="http://localhost:3001/">Home</a></li>
        <li><i id="animelib" class="navbutt"></i><a href="http://localhost:3001/library">Browse</a></li>
        <li><i id="login" class="navbutt"></i><a href="http://localhost:3001/login">Login/Sign Up</a></li>
    </ul>
</nav>