
<link rel="stylesheet" href="/css/nav.css">

<nav id="navbar" role="navigation">
    <ul id="main-menu">
        <li><i id="backhome" class="navbutt"></i>Home</li>
        <li><i id="mangalib" class="navbutt"></i>Manga</li>
        <li><i id="animelib" class="navbutt"></i>Anime</li>
        <li><i id="mostRated" class="navbutt"></i>Most Rated</li>
        <li><i id="login" class="navbutt"></i>Login/Sign Up</li>
        <li><i id="seasontop" class="navbutt"></i> Top of This Season</li>
    </ul>
</nav>