 <head>
    <link rel="stylesheet" href="#">
 </head>
 <body>
    <div>
        <h1>Title</h1>
            <ul>Episodes:<span id="episodeCount"></span> </ul>
            <ul>Seasons:<span id="seasonCount"></span> </ul>
            <ul id="genre"></ul>
            <ul id="year" id="season"></ul>
            <ul id="mangaTitle"></ul>
    </div>
    <div>
        <h2>Ranking <span id="ranking"></span></h2>
    </div>
 </body>