 <head>
    <link rel="stylesheet" href="/css/styleInfoPage.css">
 </head>
 <body>
    <main class="container">
        <h1>Title</h1>
        <h2>Ranking <span id="ranking"></span></h2>
            <ul>
                <li>Episodes:<span id="episodeCount"></span> </li>
                <li>Seasons:<span id="seasonCount"></span></li>
                <li id="genre"></li> 
                <li id="year" id="season"></li> 
                <li id="mangaTitle"></li>
            </ul>
    </main>
 </body>