 <head>
    <link rel="stylesheet" href="/css/styleLandingPage.css">
    <link rel="stylesheet" href="/css/styleNav.css">

<nav id="navbar" role="navigation">
    <ul id="main-menu">
        <li><i id="backhome" class="navbutt"></i>Home</li>
        <li><i id="mangalib" class="navbutt"></i>Manga</li>
        <li><i id="animelib" class="navbutt"></i>Anime</li>
        <li><i id="mostRated" class="navbutt"></i>Most Rated</li>
        <li><i id="login" class="navbutt"></i>Login/Sign Up</li>
        <li><i id="seasontop" class="navbutt"></i> Top of This Season</li>
    </ul>
</nav>
 </head>
 <body>
    <main class="container">
    <section class="logo">
        <h1 class="webTitle">Spoiled Potatoes</h1>
        <h2>by CouchPotato Inc.</h2>
        <h2> Hi {{user.email}}</h2>
        <img id="potatoLogo" src="/images/potatoLogo.png" 
        alt="Potato Logo">
    </section>
        
    <form class="form" role="search">
        <input type="search" id="searchBar"
        placeholder="Search Movies/Shows">
    </form>

    {{!-- For future developments --}}
    {{!-- <div class="randomContainer">
        <p id="showStringEl">Don't know what to watch?</p>
        <button id="randomBttn">Pick For Me</button>
    </div> --}}

    </main>
    <script src="/js/landingPage.js"></script>
 </body>