 <head>
    <link rel="stylesheet" href="/css/styleLandingPage.css">
 </head>
 <body>
    <main class="container">
    <section class="logo">
        <p class="webTitle">SpoiledPotatoes</p>
        <img id="potatoLogo" src="/images/potatoLogo.png" 
        alt="Potato Logo">
    </section>
        
    <form class="form" role="search">
        <input type="search" id="searchBar"
        placeholder="Search Movies/Shows">
        <button id="searchBttn">Search</button>
    </form>

    <div class="randomContainer">
        <p id="showStringEl">Don't know what to watch?</p>
        <button id="randomBttn">Pick For Me</button>
        <button id="signupBttn">Sign Up</button>
        <button id="loginBttn">Login</button>
    </div>

    </main>
    <script src="Public/js/landingPage.js"></script>
 </body>