 <head>
    <link rel="stylesheet" href="/css/styleLandingPage.css">
    <link rel="stylesheet" href="/css/styleNav.css">

{{>navbar}}
 </head>
 <body>
    <main class="container">
        <header id="navbar">{{>navbar}}</header>
    <section class="logo">
        <h1 class="webTitle">Spoiled Potatoes</h1>
        <h2>by CouchPotato Inc.</h2>
        <h3> Hi {{user.email}}</h3>
        <img id="potatoLogo" src="/images/potatoLogo.png" 
        alt="Potato Logo">
    </section>
        
    <form class="form" role="search">
        <input type="search" id="searchBar"
        placeholder="Search Movies/Shows">
    </form>

    {{!-- For future developments --}}
    {{!-- <div class="randomContainer">
        <p id="showStringEl">Don't know what to watch?</p>
        <button id="randomBttn">Pick For Me</button>
    </div> --}}

    </main>
  <script src="/js/landingPage.js"></script>
 </body>
