 <head>
    <link rel="stylesheet" href="/css/styleLibraryPage.css">
 <body>
    <main class="container" >
        <header id="navbar">{{>navbar}}</header>
        <br>
        <section class="innerContainer">
            <h1>What to watch</h1>
                <section class="cards">
                    {{>library}}
                </section>
        </section>
    </main>
 </body>
 </html>