<head>
     <link rel="stylesheet" href="/css/styleUsers.css">
</head>
<body>
    <div>
        <button id="Back">Back</button>
    </div>
    <div>
        <button id="Profile">Profile</button>
    </div>
    <div id="Users">
        <div>User</div>
        <div>User</div>
        <div>User</div>
    </div>
</body>