@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500;1,800&display=swap'); 
:root {
    --biloba-flower: #aeb5ec;
    --east-bay: #3a4c73;
}

::selection {
    background-color: var(--biloba-flower);
    color: var(--east-bay);
}

html {
    font-size: 150%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.form-link {
    font-size: 100%

} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    /* width: 100vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*COLOR CHANGE*/ 
    background-color: #4070f4;
}

#potatoLogo{
    width: 80%;
    height: 50%;
    margin-left: 150px;
}

.webTitle{
    font-size: 100px;
    padding: 10px;
    margin-left: 550px;
    margin-top: 150px;
}

.form .field{
    width: 100%;
    background-color: black;
}

.form input,
.form button{
    transform: translateY(-500%);
    margin-left: 350px;
    margin-right: 500px;
    max-width: 500px;
    height: 100%;
    width: 80%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.form input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.form input:focus {
    border-bottom-width: 2px;
}

.form button:hover {
    border: red;
}

#searchBar{
    /* padding-left: 50px; */
    /* padding-right: 50px; */
}
.randomContainer {
    transform: translateY(-3550%);
    display: inline-block;
    margin-left: -2050px;
    /* padding: 20px 100px 20px 100px; */
    /* background-color: bisque; */
}

#randomBttn {
    margin-left: 100px;
}
