:root {
    --biloba-flower: #aeb5ec;
    --east-bay: #3a4c73;
    --lighter-purple: #f2e7fe;
  }
  
  ::selection {
    background-color: var(--biloba-flower);
    color: var(--east-bay);
  }
  
.field button {
    color: #fff;
    background-color: var(--east-bay);
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    background-color: var(--east-bay);
}