:root {
    --biloba-flower: #aeb5ec;
    --east-bay: #3a4c73;
    --lighter-purple: #f2e7fe;
}

::selection {
    background-color: var(--biloba-flower);
    color: var(--east-bay);
}

.container {
    background-color: var(--biloba-flower);
    color: var(--lighter-purple);
    height: 100vh;
}

.innerContainer {
    background-color: var(--east-bay);
    font-family: 'Poppins', sans-serif;
    height: 95%;
    width: 80%;
    margin-top: -65px;
    margin-left: 300px;
    border-radius: 25px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 40px;
    font-size: 80px;
}

h2 {
    margin-top: -80px;
    margin-left: 70px;
    font-size: 50px;
}

.info li{
    font-size: 27px;
    display: inline;
    list-style: none;
    margin-left: 30px;
    padding: 10px;
    color: var(--east-bay);
    background-color: var(--lighter-purple);
    border-radius: 25px;
}


.description {
    margin-left: 70px;
    font-size: 25px;
}

.descriptionText {
    margin-left: 70px;
    margin-right: 40px;
    font-size: 25px;
    flex-wrap: wrap;
    text-align: justify;
}