@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500;1,800&display=swap'); 

*{
    font-family: 'Poppins', sans-serif;
}

:root {
    --biloba-flower: #aeb5ec;
    --east-bay: #3a4c73;
}

::selection {
    background-color: var(--biloba-flower);
    color: var(--east-bay);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 
}